@charset "utf-8";
/* CSS Document */
	
	/* OVERRIDE */
	.tw-bs .input-append .add-on, .tw-bs .input-prepend .label {
		width: 100px;
		text-align:left;
	}
	
	/* FORM SPECIFIC ADJUSTMENTS */
		#pre-register-comment {
			width:375px; 
			height:100px; 
			border-radius: 0px 4px 4px 4px;
		}
		#days-per-week {
            width: 200px;
        }